.rodape {
  grid-column: 2/12;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.rodape a {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.rodape p {
  color: #115d94;
  font-size: 0.8rem;
}

.topico {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column: 1/3;
  grid-row: 1/9;
}

@media (max-width: 1024px) {
  .topico {
    grid-column: 1/5;
    grid-row: 1/5;
  }
}

@media (max-width: 724px) {
  .topico {
    grid-column: 1/9;
    grid-row: 1/3;
  }
}

.topico:nth-child(2) {
  grid-column: 3/5;
  grid-row: 1/9;
}

@media (max-width: 1024px) {
  .topico:nth-child(2) {
    grid-column: 5/9;
    grid-row: 1/5;
  }
}

@media (max-width: 724px) {
  .topico:nth-child(2) {
    grid-column: 1/9;
    grid-row: 3/5;
  }
}

.topico:nth-child(3) {
  grid-column: 5/7;
  grid-row: 1/9;
}

@media (max-width: 1024px) {
  .topico:nth-child(3) {
    grid-column: 1/5;
    grid-row: 5/9;
  }
}

@media (max-width: 724px) {
  .topico:nth-child(3) {
    grid-column: 1/9;
    grid-row: 5/7;
  }
}

.topico:nth-child(4) {
  grid-column: 7/9;
  grid-row: 1/9;
}

@media (max-width: 1024px) {
  .topico:nth-child(4) {
    grid-column: 5/9;
    grid-row: 5/9;
  }
}

@media (max-width: 724px) {
  .topico:nth-child(4) {
    grid-column: 1/9;
    grid-row: 7/9;
  }
}

.tituloFooter {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.2rem;
  color: #115d94;
}

.conteudoFooter {
  grid-column: 1/2;
  grid-row: 2/5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.conteudoFooter a, .conteudoFooter p {
  font-size: 0.7rem;
}

@media (max-width: 724px) {
  .conteudoFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}

.logos {
  grid-column: 1/2;
  grid-row: 2/5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}

@media (max-width: 724px) {
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

.menu {
  grid-column: 2/12;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu a {
  color: #fafaf7;
  font-size: 1.2rem;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #e9f0ea;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  background: #115d94;
}

main {
  grid-column: 2/12;
  grid-row: 2/3;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto;
}

main a {
  color: #115d94;
}

footer {
  border-top: 0.1rem solid #115d94;
  grid-column: 1/13;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  background: #fafaf7;
}

footer a {
  color: #115d94;
}

footer a:hover {
  color: #115d94;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

input {
  text-align: center;
  outline: none;
  border: none;
  border: solid #c8d0c9 0.01rem;
  padding: 0.3rem;
}

select {
  text-align: center;
  border: none;
  border: solid #c8d0c9 0.01rem;
  padding: 0.3rem;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

i {
  cursor: pointer;
}

.aplicacoes {
  grid-column: 1/13;
  grid-row: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 1.5rem 0;
}

.aplicacao {
  width: 24%;
  height: 18.75rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background: #fafaf7;
  border: solid 0.1rem #c8d0c9;
  border-radius: 0.5rem;
  font-size: 1.0rem;
  margin: 2rem 0;
}

@media (max-width: 1024px) {
  .aplicacao {
    width: 48%;
    height: 21.87rem;
  }
}

@media (max-width: 724px) {
  .aplicacao {
    width: 100%;
  }
}

.legendaAplicacao {
  grid-column: 1/13;
  grid-row: 5/6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.imagemAplicacao {
  grid-column: 1/13;
  grid-row: 1/5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.imagemAplicacao img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
